main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  h1 {
    text-align: center;
  }
}

#left {
  max-width: 1200px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  orbital-card {
    width: 300px;
    display: flex;
  }
}
.button-container {
  margin: 0 auto;
}

footer {
  text-align: center;
}

h1 {
  margin: 0;
}

.btn-solar {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 1;
  cursor: pointer;
}
