<header class="header">
  <h1 class="text-center">Solar System</h1>
  <h3><a href="https://github.com/mcnedward/solar-system">View the code on GitHub</a></h3>
</header>

<main>
    <div id="left">
      <renderer id="renderer" (render)="doRender($event)" (renderResize)="onRenderResize($event)"></renderer>
    </div>

    <div id="right">
      <div class="card-container">
        <orbital-card orbitalType="sun" #sunCard></orbital-card>
        <orbital-card orbitalType="planet" #planetCard></orbital-card>
        <orbital-card orbitalType="moon" #moonCard></orbital-card>
      </div>

      <div class="button-container">
        <button class="btn btn-green btn-solar" (click)="generateSolarSystem()">GENERATE</button>
        <button class="btn btn-purple btn-solar" (click)="resetToDefault()">RESET</button>
      </div>
    </div>
</main>

<footer>
  <span><a href="https://github.com/mcnedward/angualert"><img src="../assets/github.png" alt="Github" /></a></span>
  <span><a href="https://www.linkedin.com/in/mcnedward"><img src="../assets/linkedin.png" alt="LinkedIn" /></a></span>
  <label><a href="https://edwardmcnealy.com">&copy; {{copyrightDate}} Edward McNealy</a></label>
</footer>
