<main>
  <header>
    <h1>Solar System</h1>
  </header>

  <div id="solarSystem">
    <div id="left">
      <renderer id="renderer" (render)="doRender($event)" (renderResize)="onRenderResize($event)"></renderer>
    </div>

    <div id="right">
      <div class="card-container">
        <orbital-card orbitalType="sun" #sunCard></orbital-card>
        <orbital-card orbitalType="planet" #planetCard></orbital-card>
        <orbital-card orbitalType="moon" #moonCard></orbital-card>
      </div>

      <div class="button-container">
        <button class="btn btn-green btn-solar" (click)="generateSolarSystem()">GENERATE</button>
        <button class="btn btn-purple btn-solar" (click)="resetToDefault()">RESET</button>
      </div>
    </div>
  </div>

  <footer>
    Edward McNealy 2019
  </footer>
</main>