<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <script>
    var renderer;
    // fuhttps://gist.github.com/kerimdzhanov/7529623turn
    function random(min, max) {
      return Math.random() * (max - min) + min;
    }
    function randomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }
    const width = 800, height = 800;
    $(document).ready(() => {
      renderer = new Renderer();
      var ga = new SolorSystem();
      ko.applyBindings(ga);
    });
  </script>

  <div id="main" class="container-fluid">
    <canvas id="theCanvas" data-bind="attr: {width: width, height: height}"></canvas>
  </div>

</body>
</html>