/* --------------------
Colors
-------------------- */

$ghostWhite: #f4f4f4;
$shadow: #515151;
$white: #fff;
$black: #000;
$softBlack: #343838;

$red: #CF4647;
$darkRed: #bc1214;

$green: #51B641;
$darkGreen: #218e0f;

$blue: #3498DB;
$darkBlue: #106096;

$purple: #6b4472;
$darkPurple: #581d63;

$orange: #D9853C;
$darkOrange: #a85915;

$yellow: #e1e830;
$darkYellow: #bdc411;
$inputYellow: #eae8b4;

$gray: #7d7878;
$darkGray: #595555;
$lightGray: #adabab;

$moss: #a3d1c7;
$mossHover: #82a59e;

$link: #0342a3;
$linkHover: #2c528c;
