@import "colors";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background-color: $black;
  color: $white;
  font-size: 16px;
}

body {
  width: inherit;
  min-height: inherit;
  margin: 0;
  padding: 0;
}

input {
  padding: 0.5rem 0.3rem;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #51b641;
  transition: all .3s cubic-bezier(.64,.09,.08,1);
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 96%,#51b641 0);
}

.btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}

.btn-green {
  color: $white;
  background-color: $green;
}
.btn-green:hover {
  background-color: $darkGreen;
}

.btn-purple {
  color: $white;
  background: $purple;
}
.btn-purple:hover {
  background: $darkPurple;
}
